In [1]:
import pandas as pd
df = pd.read_csv("Donations.csv")

In [2]:
# remove last two rows
df.drop(df.tail(2).index, inplace=True)

In [3]:
# summary section (total donations, largest monthly amount, largest one time amount, preferred payment type)
total_donations = pd.to_numeric(df["Total Amount"]).sum()
print(total_donations)

monthly_filter = df["Contact Types"] == "Donors - CanadaHelps, Monthly"
monthly_df = df[monthly_filter]
largest_monthly_amt = pd.to_numeric(monthly_df["Total Amount"]).max()
print(largest_monthly_amt)

one_time_filter = df["Contact Types"] == "Donors - CanadaHelps, One-Time"
one_time_df = df[one_time_filter]
largest_one_time_amt = pd.to_numeric(one_time_df["Total Amount"]).max()
print(largest_one_time_amt)

payment_type_count = df.groupby("Payment Type Name").count()
pref_payment_type = payment_type_count["Contact Types"].idxmax()
print(pref_payment_type)

data = [[total_donations, largest_monthly_amt, largest_one_time_amt, pref_payment_type]]
summary_df = pd.DataFrame(data, columns=["Total Donations", "Largest Amt by Monthly Donors", "Largest Amt by One-Time Donors", "Most Preferred Payment Type"])
summary_df.head()

13982.0
150.0
500.0
Credit Card

,Total Donations,Largest Amt by Monthly Donors,Largest Amt by One-Time Donors,Most Preferred Payment Type
0,13982.0,150.0,500.0,Credit Card

In [4]:

# monthly df, delete contact types, sort alphabetically by name
monthly_df.drop("Contact Types", inplace=True, axis=1)
monthly_df.sort_values(by=["Donor Name", "When Received"], inplace=True)
monthly_df.reset_index(drop=True, inplace=True)

/tmp/ipykernel_96649/2428726786.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_df.drop("Contact Types", inplace=True, axis=1)
/tmp/ipykernel_96649/2428726786.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_df.sort_values(by=["Donor Name", "When Received"], inplace=True)

In [5]:
# one-time df, delete contact types, sort alphabetically by name
one_time_df.drop("Contact Types", inplace=True, axis=1)
one_time_df.sort_values(by=["Donor Name", "When Received"], inplace=True)
one_time_df.reset_index(drop=True, inplace=True)
one_time_df.head()

/tmp/ipykernel_96649/1548901053.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_time_df.drop("Contact Types", inplace=True, axis=1)
/tmp/ipykernel_96649/1548901053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_time_df.sort_values(by=["Donor Name", "When Received"], inplace=True)

,Donor Name,Donation Type Name,Total Amount,When Received,Payment Type Name
0,"Donnelly, Elisabeth",Individual - CanadaHelps,20.00,2022-03-16,Paypal
1,"Drobnies, Adrienne",Individual - CanadaHelps,150.00,2022-02-21,Credit Card
2,"Drobnies, Adrienne",Individual - CanadaHelps,150.00,2022-02-21,Credit Card
3,"Kelleher, Leila",Individual - CanadaHelps,160.00,2022-03-28,Paypal
4,"Markulin, Diana",Individual - CanadaHelps,100.00,2022-03-17,Credit Card

In [6]:
# create seperator
rows, cols = monthly_df.shape
seperator_array = []
for row in range(rows):
  seperator_array.append("||")
seperator_series = pd.Series(seperator_array, name="||")

In [7]:
# write summary_df, monthly_df and one-time_df into csv file
body_df = pd.concat([monthly_df, seperator_series], axis=1)
body_df = pd.concat([body_df, one_time_df], axis=1)
body_df
body_df.to_csv("new.csv")